body
{
margin:0 auto;
font-family:georgia;
background: #F3F5EB;
/* background-image: url("../Pictures/pa.png"); */
/* background-image: url("../Pictures/c.png"); */
/* background-image: url("../Pictures/bg-6-full.png");*/
/* background-image: url("../Pictures/p.png"); */
margin-bottom: 8px;

}
/* initial, Lucida Sans Unicode, Courier New */
/* font examples http://www.hongkiat.com/blog/top-10-fonts-designers-love/ */
#top
{
width:80%;
height:200px;
background-color:#45E6C5;
position:fixed;
z-index:10;
left:10%;
color: black;
background-image: url("../Pictures/headerbg.png");

}

#title
{
position:fixed;
left:36%;
top:50px;
}

#search
{
position:fixed;
float:right;
top:100px;
right:15%;
}

#logo
{
width:120px;
height:120px;
position:fixed;
left:15%;
top:50px;

}


#left
{
height: 100%;
width:15%;
background-color:#45E6C5;
float:left;
position:relative;
background-image: url("../Pictures/headerbg.png");
padding-bottom: 150px;
}


#right
{
height: 100%;
width:15%;
background-color:#45E6C5;
float:right;
font-size:15px;
color: white;
background-image: url("../Pictures/headerbg.png");
padding-bottom: 150px;

}


#middle
{
min-height:117%;
width:70%;
float:left;
background-color:white;
color: Navy;
font-size: 30px;
text-align: center;
margin: 0 auto;
}

#wrapper2
{
min-height:500px;
width:90%;
position:relative;
left: 5%;
right:5%;
top:2%
}

#four
{
height:120px;
width:100%;
position: relative;
top:30px;
background-color:#66FFFF;
color: white;
font-size: 30px;
text-align: center;
background-image: url("../Pictures/header-1.png");
}
#five
{
height:120px;
width:100%;
position: relative;
top:60px;
background-color:#66FFFF;
color: white;
font-size: 30px;
text-align: center;
background-image: url("../Pictures/header-1 copy.png");
}
#fivec
{
height:120px;
width:100%;
position: relative;
top:90px;
background-color:#66FFFF;
color: white;
font-size: 30px;
text-align: center;
background-image: url("../Pictures/header-1.png");
}
#six
{
height:120px;
width:100%;
position: relative;
top:120px;
background-color:#66FFFF;
color: white;
font-size: 30px;
text-align: center;
background-image: url("../Pictures/header-1 copy.png");
}

#accessories
{
height:120px;
width:100%;
position: relative;
top:72px;
background-color:#66FFFF;
color: white;
font-size: 30px;
text-align: center;
background-image: url("../Pictures/header-1.png");
margin-bottom: 110px;
}

#Samsung
{
height:120px;
width:100%;
position: relative;
top:150px;
background-color:#66FFFF;
color: white;
font-size: 30px;
text-align: center;
background-image: url("../Pictures/header-1.png");
margin-bottom: 110px;
}

/* iPhone 4 & 4S */ 

#box1
{
background-color: white;
height: 160px;
width:160px;
position:relative;
left:7%;
float: left;
background-image: url("../Pictures/Iphone 4 & 4S/iphone4&4sblackflip.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box2
{
background-color: white;
height: 160px;
width:160px;
left:12%;
position:relative;
float:left;
background-image: url("../Pictures/Iphone 4 & 4S/iphone4&4sblackgel.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box3
{
background-color: white;
height: 160px;
width:160px;
left:17%;
position:relative;
float:left;
background-image: url("../Pictures/Iphone 4 & 4S/iphone4&4sblackwallet.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box4
{
background-color: white;
height: 160px;
width:160px;
position:relative;
float:left;
left:7%;
background-image: url("../Pictures/Iphone 4 & 4S/iphone4&4scleargel.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box5
{
background-color: white;
height: 160px;
width:160px;
left:12%;
position:relative;
float:left;
background-image: url("../Pictures/Iphone 4 & 4S/iphone4&4sclearhard.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box6
{
background-color: white;
height: 160px;
width:160px;
left:17%;
position:relative;
float:left;
background-image: url("../Pictures/Iphone 4 & 4S/iphone4&4sgreyflip.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box7
{
background-color: white;
height: 160px;
width:160px;
position:relative;
float:left;
left:7%;
background-image: url("../Pictures/Iphone 4 & 4S/iphone4&4spastelshade1.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box8
{
background-color: white;
height: 160px;
width:160px;
left:12%;
position:relative;
float:left;
background-image: url("../Pictures/Iphone 4 & 4S/iphone4&4spastelshade2.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box9
{
background-color: white;
height: 160px;
width:160px;
left:17%;
position:relative;
float:left;
background-image: url("../Pictures/Iphone 4 & 4S/iphone4&4spastelshade3.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box10
{
background-color: white;
height: 160px;
width:160px;
position:relative;
float:left;
left:7%;
background-image: url("../Pictures/Iphone 4 & 4S/iphone4&4spastelshade4.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box11
{
background-color: white;
height: 160px;
width:160px;
left:12%;
position:relative;
float:left;
background-image: url("../Pictures/Iphone 4 & 4S/iphone4&4spastelshade5.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box12
{
background-color: white;
height: 160px;
width:160px;
left:17%;
position:relative;
float:left;
background-image: url("../Pictures/Iphone 4 & 4S/iphone4&4sredflip.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}



/* iPhone 5 & 5S */ 

#box13
{
background-color: white;
height: 160px;
width:160px;
position:relative;
left:7%;
float: left;
background-image: url("../Pictures/Iphone 5 & 5S/iphone5&5sblackgel.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box14
{
background-color: white;
height: 160px;
width:160px;
left:12%;
position:relative;
float:left;
background-image: url("../Pictures/Iphone 5 & 5S/iphone5&5sblackwallet.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box15
{
background-color: white;
height: 160px;
width:160px;
left:17%;
position:relative;
float:left;
background-image: url("../Pictures/Iphone 5 & 5S/iphone5&5sbluegel.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box16
{
background-color: white;
height: 160px;
width:160px;
position:relative;
float:left;
left:7%;
background-image: url("../Pictures/Iphone 5 & 5S/iphone5&5sredflip.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box17
{
background-color: white;
height: 160px;
width:160px;;
left:12%;
position:relative;
float:left;
background-image: url("../Pictures/Iphone 5 & 5S/iphone5&5sturquoisegel.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box18
{
background-color: white;
height: 160px;
width:160px;
left:17%;
position:relative;
float:left;
background-image: url("../Pictures/Iphone 5 & 5S/iphone5&5swhitegel.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}


/* iPhone 5c */ 

#box19
{
background-color: white;
height: 160px;
width:160px;
position:relative;
left:7%;
float: left;
background-image: url("../Pictures/Iphone 5c cases/iphone5cblack.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}
#box20
{
background-color: white;
height: 160px;
width:160px;
position:relative;
left:12%;
float: left;
background-image: url("../Pictures/Iphone 5c cases/iphone5cyellow.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;

}

#box21
{
background-color: white;
height: 160px;
width:160px;
left:17%;
position:relative;
float:left;
background-image: url("../Pictures/Iphone 5c cases/iphone5cblackflip.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box22
{
background-color: white;
height: 160px;
width:160px;
left:7%;
position:relative;
float:left;
background-image: url("../Pictures/Iphone 5c cases/iphone5cblue.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box23
{
background-color: white;
height: 160px;
width:160px;
position:relative;
float:left;
left:12%;
background-image: url("../Pictures/Iphone 5c cases/iphone5cgreen.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box24
{
background-color: white;
height: 160px;
width:160px;
left:17%;
position:relative;
float:left;
background-image: url("../Pictures/Iphone 5c cases/iphone5cpink.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box25
{
background-color: white;
height: 160px;
width:160px;
left:7%;
position:relative;
float:left;
background-image: url("../Pictures/Iphone 5c cases/iphone5cwhite.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}


/* iPhone 6 */

#box26
{
background-color: white;
height: 160px;
width:160px;
position:relative;
left:7%;
float: left;
background-image: url("../Pictures/Iphone 6 5.5 inch cases/iphone6black.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}


#box27
{
background-color: white;
height: 160px;
width:160px;
left:12%;
position:relative;
float:left;
background-image: url("../Pictures/Iphone 6 5.5 inch cases/iphone6blue.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box28
{
background-color: white;
height: 160px;
width:160px;
left:17%;
position:relative;
float:left;
background-image: url("../Pictures/Iphone 6 5.5 inch cases/iphone6grey.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box29
{
background-color: white;
height: 160px;
width:160px;
position:relative;
float:left;
left:7%;
background-image: url("../Pictures/Iphone 6 5.5 inch cases/iphone6purple.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box30
{
background-color: white;
height: 160px;
width:160px;
left:12%;
position:relative;
float:left;
background-image: url("../Pictures/Iphone 6 5.5 inch cases/iphone6yellow.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}


/* Accessories */

#box31
{
background-color: white;
height: 160px;
width:160px;
position:relative;
left:7%;
float: left;
background-image: url("../Pictures/Accessories/3.5 to 3.5 jack.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box32
{
background-color: white;
height: 160px;
width:160px;
left:12%;
position:relative;
float:left;
background-image: url("../Pictures/Accessories/iphonecarcharger.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box33
{
background-color: white;
height: 160px;
width:160px;
left:17%;
position:relative;
float:left;
background-image: url("../Pictures/Accessories/iphonemainscharger.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box34
{
background-color: white;
height: 160px;
width:160px;
position:relative;
float:left;
left:7%;
background-image: url("../Pictures/Accessories/microusbcarcharger.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box35
{
background-color: white;
height: 160px;
width:160px;
left:12%;
position:relative;
float:left;
background-image: url("../Pictures/Accessories/microusbdatacable.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}
#box36
{
background-color: white;
height: 160px;
width:160px;
position:relative;
float:left;
left:17%;
background-image: url("../Pictures/Accessories/microusbmainscharger.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}


#wrapper
{
width:80%;
min-height: 900px ;
background-color:grey;
position:absolute;
top:200px;
color:black;
font-size:15px;
left:10%;
margin-bottom:150px;
right: 0;
bottom: 0;
}


#about
{
position:relative;
background-color:white;
height:70%;
width:80%;
margin:0 auto;
top:20px;
font-size:70%;
}


#social
{
width: 100%;
height: 130px;
font-size: 85%;
background-image: url("../Pictures/headerbg.png");
color:white;
}

#scroll{
height: 1px;
width: 80%;
background: white;
}

#accordion
{
background-color:#45E6C5;
height:100%;
width:100%;
background-image: url("../Pictures/headerbg.png");
position:relative;
}

#email
{
height:50px;
width:80%;
position: relative;
top:60px;
background-color:#66FFFF;
color: white;
font-size: 25px;
text-align: center;
float:left;
left: 10%;
background-image: url("../Pictures/header-1 copy.png");
}

#phone
{
height:50px;
width:80%;
position: relative;
top:90px;
background-color:#66FFFF;
color:white ;
font-size: 25px;
text-align: center;
float:left;
left: 10%;
background-image: url("../Pictures/header-1.png");
}

#come
{
height:100px;
width:80%;
position: relative;
top:120px;
background-color:#66FFFF;
color:white ;
font-size: 25px;
text-align: center;
float:left;
left: 10%;
background-image: url("../Pictures/header-1 copy.png");
}
#googleMap
{
width: 70%;
height: 200px;
background-color:#CCC;
top: 180px;
position:relative;
float: left;
left:15%;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

.ui-content
{
width:80%;
background-color:#1A1A1A;
background-image: url("../Pictures/headerbg.png");

}

.ui-page.ui-page-theme-a.ui-page-active
{
min-height:600px;
background-color:#1A1A1A;
background-image: url("../Pictures/headerbg.png");
}


.ui-btn
{
font-size:85% !important;
}

.ui-btn-icon-left
{
content: "";
position: absolute;
display: block;
}

/* link styling */



a:hover{
color: yellow !important;
}



.footer
{
min-width: 100%;
position:relative;
max-height: 150px;
bottom:2px;
float:left;
z-index: 5;
}




.f1
{
left: 20%;
top: 0;
position:absolute;
height:98%;
width:210px;
z-index: 6;
color:white;
font: center;
}

#f2
{
bottom:3%;
right: 10%;
position:absolute;
z-index: 6;
}


.f3
{
left:5%;
position:absolute;
z-index:5;
bottom: 10%;
color: white;
font-size: 12px;
}

#f4
{
top: 12%;
right: 7%;
position:absolute;
z-index: 6;
height: 30px;
width: 100px;
color: white;
font-size: 20px;
}

.f5
{
left: 35%;
top: 0;
position:absolute;
height:98%;
width:310px;
z-index: 6;
color:white;
font: center;
font-size: 12px;
}

#scroll{
width:1px;
}

#repairs{
width:100%;
min-height:900px;
position:relative;
top:2%;
background-color: pink; /*pink is only in to se the div */
}

/* white behind pictures is only in to see the div can be changed to any colour with the background colour */
#R1{
height:83px;
width:100%;
position: relative;
top:40px;
background-color:white;
color: white;
font-size: 30px;
text-align: center; 
background-image: url("../Pictures/footer-background.png");
}

#R2{
background-color: white;
height: 100px;
width:100px;
position:relative;
left:7%;
float: left;
background-image: url("../Pictures/apple.png");
}

#R3{
background-color: white;
height: 100px;
width:100px;
left:17%;
position:relative;
float:left;
background-image: url("../Pictures/samsung.png");
}

#R4{
height:90px;
width:100%;
position: relative;
float:left;
background-color:white;
color: white;
font-size: 20px;
margin-top:10%;
text-align: center;
background-image: url("../Pictures/footer-background.png");
}
#R5 {
background-color: white;
height: 100px;
width:100px;
left:27%;
position:relative;
float:left;
background-image: url("../Pictures/htc.png");}
#R6{
background-color: white;
height: 100px;
width:100px;
left:37%;
position:relative;
float:left;
background-image: url("../Pictures/nokia.png");}

#R7{
height:83px;
width:100%;
position: relative;
top:60px;
background-color:pink;
color: yellow;
font-size: 27px;
text-align: center; 
 }
#R8{
height:83px;
width:100%;
position: relative;
top:100px;
background-color:white; /* white is only in to see the div*/
color: yellow;
font-size: 27px;
text-align: center;
float:left;
}

#R9{
background-color: white;
height: 100px;
width:100px;
position:relative;
left:7%;
float: left;
background-image: url("../Pictures/dell.png");
}

#R10 {
background-color: white;
height: 100px;
width:100px;
left:17%;
position:relative;
float:left;
background-image: url("../Pictures/apple.png");}
#R11{
background-color: white;
height: 100px;
width:100px;
left:27%;
position:relative;
float:left;
background-image: url("../Pictures/hp.png");}

#R12{
background-color: white;
height: 100px;
width:100px;
left:37%;
position:relative;
float:left;
background-image: url("../Pictures/asus.png"); 
 } 

/* Samsung Covers */
#box37
{
background-color: white;
height: 160px;
width:160px;
position:relative;
margin-top:5%;
left:7%;
float: left;
background-image: url("../Pictures/Samsung cases/Samsung flip.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box38
{
background-color: white;
height: 160px;
width:160px;
margin-top:5%;
left:12%;
position:relative;
float:left;
background-image: url("../Pictures/Samsung cases/Samsung gel.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box39
{
background-color: white;
height: 160px;
width:160px;
margin-top:5%;
left:17%;
position:relative;
float:left;
background-image: url("../Pictures/Samsung cases/Samsungred.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box40
{
background-color: white;
height: 160px;
width:160px;
position:relative;
float:left;
margin-top:5%;
left:7%;
background-image: url("../Pictures/Samsung cases/Samsung clear hard.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box41
{
background-color: white;
height: 160px;
width:160px;
margin-top:5%;
left:12%;
position:relative;
float:left;
background-image: url("../Pictures/Samsung cases/Samsung wallet.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box42
{
background-color: white;
height: 160px;
width:160px;
margin-top:5%;
left:17%;
position:relative;
float:left;
background-image: url("../Pictures/Samsung cases/Samsung grey flip.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box43
{
background-color: white;
height: 160px;
width:160px;
position:relative;
float:left;
margin-top:5%;
left:7%;
background-image: url("../Pictures/Samsung cases/Samsung pastel1.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box44
{
background-color: white;
height: 160px;
width:160px;
margin-top:5%;
left:12%;
position:relative;
float:left;
background-image: url("../Pictures/Samsung cases/Samsung pastel2.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#box45
{
background-color: white;
height: 160px;
width:160px;
margin-top:5%;
left:17%;
position:relative;
float:left;
background-image: url("../Pictures/Samsung cases/Samsung pastel3.png");
cursor:pointer;
border: 2px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

#col1
{
width:100%;
height:180px;
background-color:blue;
float:left;
}

#col2
{
width:100%;
height:180px;
background-color:blue;
float:left;
margin-top:5%;
}

#col3
{
width:100%;
height:180px;
background-color:blue;
float:left;
margin-top:5%;
}

#col4
{
width:100%;
height:180px;
background-color:blue;
float:left;
margin-top:5%;
}

#col5
{
width:100%;
height:180px;
background-color:blue;
float:left;
}

#col6
{
width:100%;
height:180px;
background-color:blue;
float:left;
margin-top:5%;
}

#col7
{
width:100%;
height:180px;
background-color:blue;
float:left;
}

#col8
{
width:100%;
height:180px;
background-color:blue;
float:left;
margin-top:5%;
}

#col9
{
width:100%;
height:180px;
background-color:blue;
float:left;
margin-top:5%;
}

#col10
{
width:100%;
height:180px;
background-color:blue;
float:left;
}

#col11
{
width:100%;
height:180px;
background-color:blue;
float:left;
margin-top:5%;
}

#col12
{
width:100%;
height:180px;
background-color:blue;
float:left;
}

#col13
{
width:100%;
height:180px;
background-color:blue;
float:left;
margin-top:5%;
}

#repaircol1
{
width:100%;
height:120px;
background-color:blue;
float:left;
margin-top:10%;
}

#repaircol2
{
width:100%;
height:120px;
background-color:blue;
float:left;
margin-top:20%;
}



