body
{
margin:0 auto;
}
#top
{
width:80%;
height:200px;
background-color:green;
position:fixed;
z-index:1;
left:10%;

}
#title
{
position:fixed;
left:40%;
top:50px;
}

#search
{
position:fixed;
float:right;
top:100px;
right:15%;
}

#logo
{

width:120px;
height:120px;
background-color:green;
position:fixed;
left:15%;
top:50px;

}

#left
{
height:1000px;
width:15%;
background-color:purple;
float:left;
position:relative;
}

#right
{
height:1000px;
width:15%;
background-color:pink;
float:right;
font-size:15px;
color: white;
}

#middle
{
height:1000px;
width:70%;
float:left;
background-color:blue;
}

#wrapper2
{
height:90%;
width:90%;
position:relative;
background-color: yellow;
left: 5%;
right:5%;
top:5%
}

#box1
{
background-color: white;
height: 160px;
width:160px;
position:relative;
top: 30px;
left: 35px;
float: left;
background-image: url("../Pictures/Iphone 4 & 4S/iphone4&4sblackflip.png");
}

#box2
{
background-color: white;
height: 160px;
width:160px;
top: 30px;
left: 80px;
position:relative;
float:left;

}

#box3
{
background-color: white;
height: 160px;
width:160px;
top: 30px;
right:35px;
position:relative;
float:right;
}

#box4
{
background-color: white;
height: 160px;
width:160px;
top:51px;
position:relative;
float:left;
left:35px;
}

#box5
{
background-color: white;
height: 160px;
width:160px;
top: 50px;
left: 80px;
position:relative;
float:left;
}

#box6
{
background-color: white;
height: 160px;
width:160px;
top: 50px;
right: 35px;
position:relative;
float:right;
}

#wrapper
{
width:80%;
min-height:1000px;
background-color:grey;
position:relative;
top:200px;
color:black;
font-size:15px;
left:10%;
}


#about
{
position:relative;
background-color:yellow;
height:80%;
width:80%;
margin:0 auto;
}


#social
{
width: 157px;
height: 100px;
background-color: white;
font-size: 85%;
}

#accordion
{
background-color:purple;
height:600px;
width:80%;
}

.ui-content
{
width:80%;
background-color:purple;
}

.ui-page.ui-page-theme-a.ui-page-active
{
min-height:600px;
background-color:purple;
}

.ui-content.ui-footer.ui-bar-inherit
{
width:90%;
position:relative;
}

.ui-btn
{
font-size:85% !important;
}

.ui-btn-icon-left
{
content: "";
position: absolute;
display: block;
}



